<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Musical Musings</title>
  <link rel="stylesheet" href="/css/style.css">
  <style type="text/css">* {cursor: url(https://cur.cursors-4u.net/others/oth-5/oth466.cur), auto !important;}</style><a href="https://www.cursors-4u.com/cursor/2009/10/05/treble-clef.html" target="_blank" title="Treble clef"></a>
</head>

<body class="flex-column min-100-vh">
    <div class="record">
        <div class="outer">
            <div class="arm"></div>
            <div class="center">
            </div>
        </div>
    </div>
      <br>
  <header class="hero">
    <h1 class="app-title"><a href="/home">Home</a></h1>
  </header>
  <nav class="navbar">
    <ul class="flex-row">
      <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
      <li class="li-inline nav-item"><a href="#" id="logout-link">Logout</a></li>
    </ul>
  </nav>

  <main class="col-auto">
    {{{body}}}
  </main>

</body>

<script src="/js/logout.js"></script>

</html>