<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Musical Musings</title>
  <link rel="stylesheet" href="/css/style.css" />
  <style type="text/css">
    * {
      cursor:
        url(https://cur.cursors-4u.net/others/oth-5/oth466.cur), auto !important;
    }
  </style><a href="https://www.cursors-4u.com/cursor/2009/10/05/treble-clef.html" target="_blank"
    title="Treble clef"><img src="https://cur.cursors-4u.net/cursor.png" border="0" alt="Treble clef"
      style="position:absolute; top: 0px; right: 0px;" /></a>
</head>

<body>
  <div id="main-page">
    <header id="main-header">
      <h1 id="main-h1">MUSICAL MUSINGS</h1>
      <br>
      <img src="./logo_size_invert.jpg" alt="Musical Musings Logo">
      <br>
      <h2 id="first-line">A space to talk about music, exchange music,</h2>
      <h2 id="second-line">and collaborate on music.</h2>
    </header>
    <nav id="main-nav">
      <ul>
        <li class="li-inline nav-item"><a href="/login">Login</a></li>
        <li class="li-inline nav-item"><a href="/signup">Sign Up</a></li>
      </ul>
    </nav>
  </div>

  <main class="col-auto">
    {{{body}}}
  </main>

</body>

</html>