<div class="card" id="login-page">
  <header class="card-header">
    <h2>Login</h2>
  </header>
  <form id="login-form" class="card-body">
    <div>
      <label for="username-input-login" class="user-sections">Username</label>
      <input type="text" id="username-login" />
    </div>
    <div>
      <label for="password-input-login" class="form-label" class="user-sections">Password</label>
      <input type="password" id="password-login" />
    </div>
    <button type="submit" id="login-btn" class="btn">Login!</button>
  </form>
</div>

<script src="/js/login.js"></script>
</html>
